<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=[+modx_charset+]" http-equiv="Content-Type">
		<title>[+store_name+]</title>
		<link rel="stylesheet" type="text/css" href="media/style/[+manager_theme+]/style.css"> 
		<link rel="stylesheet" type="text/css" href="[+site_url+]assets/modules/contentEditor/css/main.css"> 
		<script type="text/javascript" src="media/script/mootools/mootools.js" ></script>
		<script type="text/javascript" src="media/script/mootools/moodx.js"></script>
		<script type="text/javascript" src="media/script/tabpane.js"></script>
	</head>
	<body>
		<h1>[+store_name+]</h1>
		<div id="actions">
			<ul class="actionButtons">
				<li id="Button1">
					<a href="#" onclick="document.location.href=document.location.href;">
						<img src="media/style/[+manager_theme+]/images/icons/refresh.png">[+refresh+]
					</a>
				</li>
			</ul>
		</div>	
		<div class="sectionBody">
			<p>[+module_description+]</p>
			<div class="tab-pane" id="tabPanel">
				<script type="text/javascript">
					mypanel = new WebFXTabPane(document.getElementById("tabPanel"), true);
				</script>
				<div class="tab-page" id="startTab">
					<h2 class="tab">[+tab1_header+]</h2>
					<script type="text/javascript">mypanel.addTabPage(document.getElementById("startTab"));</script>
					<div>
						<table class="grid">
							<thead>
								<tr>
									<td  class="gridHeader">[+table_id+]</td>
									<td  class="gridHeader">[+table_header+]</td>
									<td  class="gridHeader">[+table_header2+]</td>
									<td  class="gridHeader">[+table_action+]</td>
								</tr>
							</thead>
							<tbody>
								[+phpwork+]
							</tbody>
						</table>
					</div>
					<p>[+tab1_description+]</p>
				</div>	
				<div class="tab-page" id="startTab2">
					<h2 class="tab">[+tab2_header+]</h2>
					<script type="text/javascript">mypanel.addTabPage( document.getElementById("startTab2"));</script>
					<div>
						[+tab1_text+]
					</div>
				</div>	
			</div>
		</div>
	</body>
</html>